.file-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}
.loading-icon {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-top: 45vh;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.data-table {
  overflow: scroll;
  border: 1px solid black;
}
.data-table td,
.data-table tr,
.data-table,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
.header-cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.sort-buttons {
  height: 3px;
}
.sort-button-container {
  height: 30px;
}
.sort-up-button-container,
.sort-down-button-container {
  height: 15px;
  overflow: hidden;
}
.sort-down-button {
  transform: translateY();
}
.highlighted-text {
  background-color: yellow;
}
.error {
  color: red;
}
